body {
  font-family: roboto, sans-serif;
  background-color: #eb3b5a;
}
h1 {
  font-family: Lobster, cursive;
  color: #fff;
  font-size: 3em;
}
main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
button {
  padding: 16px;
  cursor: pointer;
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 16px;
  border-radius: 8px;
  background-color: #f7b731;
  color: #000;
}
input,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: block;
  margin: 16px auto;
  font-size: 2em;
  max-width: 120px;
  border: none;
  background-color: transparent;
  text-align: center;
  color: #fff;
  border-bottom: 6px solid #fff;
  outline: none;
  -webkit-appearance: none;
}
.resultado {
  padding: 16px;
  margin-top: 120px;
  border: 8px dotted #fff;
  text-align: center;
  color: white;
  display: none;
}
.resultado span {
  font-weight: bold;
  font-size: 3em;
  display: block;
}
